<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Biblioteca</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <main>
    <section>
      <h1>Bienvenido a la Biblioteca</h1>
      <p>
        En nuestra biblioteca encontrarás una amplia variedad de libros, revistas y recursos digitales para apoyar tus
        necesidades de aprendizaje y entretenimiento.
      </p>
    </section>
    <section>
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-12">
            <h2>Los más vendidos</h2>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="card border-secondary">
                <div class="card-body">
                  <h2 class="card-title">The Catcher in the Rye</h2>
                  <p class="card-text">Author: J.D. Salinger</p>
                  <p class="card-text">Year: 1952</p>
                  <p class="card-text">Genre: Drama</p>
                  <p class="card-text">Status: returned</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card border-secondary">
                <div class="card-body">
                  <h2 class="card-title">To Kill a Mockingbird</h2>
                  <p class="card-text">Author: Harper Lee</p>
                  <p class="card-text">Year: 1960</p>
                  <p class="card-text">Genre: Fiction</p>
                  <p class="card-text">Status: borrowed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright © 2024 Biblioteca</p>
  </footer>
</body>

</html>